<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../dist/style.css">
</head>

<body>
    <div class="container">
        <div class="toolbar">
            <div class="logo">
                <a href="#home">HannahsEtsy</a>
                </div>
                <form>
                   <input type="submit" class="submit">
                   <input type="search" class ="search" placeholder="Search">
                </form>
        </div>
        <div class="content grid grid-2-400 grid-4-900 grid-6-1200">
            <a href="#">
                <img src="">
                <p></p>
                <p></p>
            </a>
   
</body>

</html>